<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<system.serviceModel>
        <bindings>
                <basicHttpBinding>
                        <binding name="BasicHttpBinding_ITransliterationService" />
                </basicHttpBinding>
        </bindings>
        <client>
                <endpoint address="http://localhost:51798/TransliterationWCFServerIIS.svc"
                        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITransliterationService"
                        contract="TransliterationWCFServerIIS.ITransliterationService"
                        name="BasicHttpBinding_ITransliterationService" />
        </client>
    </system.serviceModel>
</configuration>